
body {
  font-family: var(--main-font);
  line-height: 1.2;
  background-color: var(--bg-color);
  color: var(--text-color);
}



.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/*Header*/

/* Main*/


/*Peculiarities*/



/*Activities*/



/*Team*/


/*Clients*/

/*Footer*/


/*Second page*/



/*Modal window*/

